<h1>JEONGYEON</h1>
<figcaption>Quote from <cite><a href="https://ja.wikipedia.org/wiki/%E3%82%B8%E3%83%A7%E3%83%B3%E3%83%A8%E3%83%B3">
            ジョンヨン
        </a></cite>
</figcaption>
<h2>About</h2>
<p>韓国出身のアイドル。ガールズグループTWICEのメンバー。JYPエンターテインメント所属。京畿道水原市出身。本名はユ・ジョンヨン。
</p>
<h2>幼年期</h2>
<p>1996年11月1日に韓国京畿道水原市に生まれる。出生名はユ・ギョンワン（유경완）。「ギョンワン」は男性にも使われる中性的な名前であり、男児の出産を望んでいた両親によって性別判明を待たずに名付けられた。この中性的な名前が原因でいじめに遭ってしまったため、小学3年生の時に現在のユ・ジョンヨン（유정연）に改名している。2人の姉がおり、1人は女優のコン・スンヨンである。父は韓国の15代目大統領の金大中の元で働いていた料理人。母は日本食レストランを経営している。幼いころからエアロビクスを習い、歌やダンスに興味を持つようになった。両利きだと言われている。
</p>
<h2>経歴</h2>
<h3>デビュー前</h3>
<p>幼少期にJYPエンターテインメントのオーディションに落ちたが、2010年3月の公開オーディションに合格して最終的に事務所入りした。TWICEとしてデビューするまでの5年間トレーニングを積んだ。2013年から2015年の始めまで、ナヨン・ジヒョとともにJYPの新たなガールズグループのメンバーになると期待されていた。しかし、このプロジェクトは中止され、彼女らはデビューしなかった。2015年に、TWICEの最初のメンバーを選ぶためのテレビ番組SIXTEENに参加した。最終回でTWICEを構成することになる9人のうちの1人に選ばれた。
</p>
<h3>TWICE</h3>
<p>2015年10月、TWICEはTHE STORY BEGINSをリリースし、メンバーとして正式にデビューした。そのリードシングルLike
    OOH-AHHはK-POPのデビュー曲として初めてYouTubeで1億回の再生回数を記録した。姉とともに2016年7月から2017年1月まで韓国の音楽番組SBS人気歌謡で共同司会を務め、2人で2016年のSBS
    Entertainment Awardsの新人賞を受賞した。デビュー以来、TWICEのいくつかの曲の作成も行っている。Gallup
    Koreaが毎年行ってる音楽世論調査で同じメンバーのナヨンとともに2016年から2019年まで4年連続で韓国で最も人気のあるアイドルのトップ20に選ばれた</p>
